@font-face {
  font-family: 'KH-Main-Menu';
  src: url(../assets/fonts/KingdomHearts/KH-Main-Menu.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KH-Normal-Menu';
  src: url(../assets/fonts/KingdomHearts/KH-Normal-Menu.ttf);
  font-weight: 500;
  font-style: normal;
}
.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  position: relative;
  top: 150px;
  right: 60px;
}

.button {
  font-family: 'KH-Main-Menu';
  height: 60px;
  padding: 5px 9px;

  hr {
    margin: 0;
    width: 850px;
    height: 3px;
    border: 0px;
    border-radius: 25%;
    opacity: 0.7;
    background: linear-gradient(
      to right,
      white 0%,
      #d9d7d6 2%,
      #b6b4b4 5%,
      #cccccb 40%,
      #e4e2e2 65%,
      #e9e8e8 70%,
      #f1f1f1 75%,
      white 100%
    );
  }
}

.buttonSelected {
  font-family: 'KH-Main-Menu';
  opacity: 0.9;
  color: white;
  height: 60px;
  padding: 5px 9px;
  animation: fade 2s ease-in-out infinite, backgroundShrink 2s linear infinite;
  hr {
    margin: 0;
    width: 850px;
    height: 3px;
    border: 0px;
    border-radius: 25%;
    opacity: 0.7;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 45%,
      rgba(179, 223, 236, 1) 50%,
      rgba(211, 224, 221, 1) 65%,
      rgba(210, 214, 213, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.buttonText {
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 32px;
}

.descriptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 260px;
  width: 1100px;
  right: 100px;
  height: 45px;
  color: white;
  font-size: 25px;
  font-family: 'KH-Normal-Menu';
  letter-spacing: 1px;

  background: linear-gradient(
    to right,
    white 0%,
    #fafbff 5%,
    #f1f1fb 10%,
    #dcdff2 20%,
    #cad0ea 25%,
    #b8bee1 30%,
    #9199d0 50%,
    #b8bee1 70%,
    #cad0ea 75%,
    #dcdff2 80%,
    #f1f1fb 90%,
    #fafbff 95%,
    white 100%
  );
  border: 1px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to right,
    white 0%,
    #fdfdfe 5%,
    #f0f1f6 10%,
    #e4e6f3 20%,
    #d6d8ec 25%,
    #afb2d2 30%,
    #a3a8cb 50%,
    #afb2d2 70%,
    #d6d8ec 75%,
    #e4e6f3 80%,
    #f0f1f6 90%,
    #fdfdfe 95%,
    white 100%
  );
  border-width: 2px 0 2px 0;
}
.descriptionBoxDisabled {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes backgroundShrink {
  0% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 50%,
      #b0f1f9 60%,
      #d0f9f9 65%,
      #ebf8f8 75%,
      #f3f9f9 85%,
      white 100%
    );
  }
  5% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 49%,
      #b0f1f9 59%,
      #d0f9f9 64%,
      #ebf8f8 74%,
      #f3f9f9 84%,
      white 100%
    );
  }
  10% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 48%,
      #b0f1f9 58%,
      #d0f9f9 63%,
      #ebf8f8 73%,
      #f3f9f9 83%,
      white 100%
    );
  }
  15% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 47%,
      #b0f1f9 57%,
      #d0f9f9 62%,
      #ebf8f8 72%,
      #f3f9f9 82%,
      white 100%
    );
  }
  20% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 46%,
      #b0f1f9 56%,
      #d0f9f9 61%,
      #ebf8f8 71%,
      #f3f9f9 81%,
      white 100%
    );
  }
  25% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 45%,
      #b0f1f9 55%,
      #d0f9f9 60%,
      #ebf8f8 70%,
      #f3f9f9 80%,
      white 100%
    );
  }
  30% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 44%,
      #b0f1f9 54%,
      #d0f9f9 59%,
      #ebf8f8 69%,
      #f3f9f9 79%,
      white 100%
    );
  }
  35% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 43%,
      #b0f1f9 53%,
      #d0f9f9 58%,
      #ebf8f8 68%,
      #f3f9f9 78%,
      white 100%
    );
  }
  40% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 42%,
      #b0f1f9 52%,
      #d0f9f9 57%,
      #ebf8f8 67%,
      #f3f9f9 77%,
      white 100%
    );
  }
  45% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 41%,
      #b0f1f9 51%,
      #d0f9f9 56%,
      #ebf8f8 66%,
      #f3f9f9 76%,
      white 100%
    );
  }
  50% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 40%,
      #b0f1f9 50%,
      #d0f9f9 55%,
      #ebf8f8 65%,
      #f3f9f9 75%,
      white 100%
    );
  }
  55% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 41%,
      #b0f1f9 51%,
      #d0f9f9 56%,
      #ebf8f8 66%,
      #f3f9f9 76%,
      white 100%
    );
  }
  60% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 42%,
      #b0f1f9 52%,
      #d0f9f9 57%,
      #ebf8f8 67%,
      #f3f9f9 77%,
      white 100%
    );
  }
  65% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 43%,
      #b0f1f9 53%,
      #d0f9f9 58%,
      #ebf8f8 68%,
      #f3f9f9 78%,
      white 100%
    );
  }
  70% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 44%,
      #b0f1f9 54%,
      #d0f9f9 59%,
      #ebf8f8 69%,
      #f3f9f9 79%,
      white 100%
    );
  }
  75% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 45%,
      #b0f1f9 55%,
      #d0f9f9 60%,
      #ebf8f8 70%,
      #f3f9f9 80%,
      white 100%
    );
  }
  80% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 46%,
      #b0f1f9 56%,
      #d0f9f9 61%,
      #ebf8f8 71%,
      #f3f9f9 81%,
      white 100%
    );
  }
  85% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 47%,
      #b0f1f9 57%,
      #d0f9f9 62%,
      #ebf8f8 72%,
      #f3f9f9 82%,
      white 100%
    );
  }
  90% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 48%,
      #b0f1f9 58%,
      #d0f9f9 63%,
      #ebf8f8 73%,
      #f3f9f9 83%,
      white 100%
    );
  }
  95% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 49%,
      #b0f1f9 59%,
      #d0f9f9 64%,
      #ebf8f8 74%,
      #f3f9f9 84%,
      white 100%
    );
  }
  100% {
    background: linear-gradient(
      to right,
      white 0%,
      #cfe3f6 1%,
      #5999fc 2%,
      #539bfc 20%,
      #73c0fa 30%,
      #8ad8fa 50%,
      #b0f1f9 60%,
      #d0f9f9 65%,
      #ebf8f8 75%,
      #f3f9f9 85%,
      white 100%
    );
  }
}
